<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id = "com.gainpace"
        version = "0.0.1" >
        <name>Gainpace Tasks App</name>
        <description>Simple Tasks App From Gainpace.com</description>
        <author href="http://www.gainpace.com" email="surfdemon@gmail.com">Robert Beach</author>
        
        <gap:platform name="android" />
        
</widget>